@import url('https://fonts.googleapis.com/css?family=VT323');

#results-window {
  min-height: 100px;
  text-align: right;
  background-color: #aab9a6;
  border: .3em inset #cfd6dc;
}

.calc-main {
  width: 40%;
  min-width: 320px;
  margin: 4em auto;
}

.panel-default {
  border: .6em outset #242b35;
  border-radius: 2%;
}

.panel-body {
  background-color: #edece7;
  border: .3em outset #edffe7;
  padding: 1.5em;
}

#result {
  font-family: 'VT323', monospace;
  font-size: 4em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "";
}

.container {
  padding: 5px;
  margin: 0 auto;
  width: 100%
}

.btn {
  width: 100%;
  color: #fff;
  box-shadow: 1px 1px 1px black
}

.calc-main h1 { margin: .1em; }

.number { background-color: #9a9994; }

.operator { background-color: #646263; }

.equal { background-color: #5786a2; }

.clear { color: #cc0404; }
 @media screen and (max-width: 920px) {

.btn h1 { font-size: 28px }
}
 @media screen and (max-width: 880px) {

.btn h1 { font-size: 20px }
}
 @media screen and (max-width: 414px) {

.jumbotron {
  padding: 10px 0;
  margin-bottom: 0;
}
}
