@import url('https://fonts.googleapis.com/css?family=VT323');

#results-window {
  min-height: 100px;
  text-align: right;
  background-color: #F0F3F4;
  border: .3em inset #cfd6dc;
}

.calc-main {
  width: 40%;
  min-width: 320px;
  margin: 4em auto;
}

.panel-default {
  border: .6em outset none;
}

.panel-body {
  background:linear-gradient(to left,#82ABEE,#F26B63);
  padding: 1.5em;
}

#result {
  font-size: 4em;
  overflow: hidden;
}

.container {
  margin:0;
  padding:0;
  background:linear-gradient(to left,#82ABEE,#F26B63);
}

.btn {
  width: 100%;
}

.calc-main h1 { margin: .1em; }

.number { background-color: #85C1E9; }

.operator { background-color: #B2BABB; }

.equal { background-color: #F26B63; }

.clear { background-color: #82ABEE; }
 @media screen and (max-width: 920px) {

.btn h1 { font-size: 28px }
}
 @media screen and (max-width: 880px) {

.btn h1 { font-size: 20px }
}
 @media screen and (max-width: 414px) {

.jumbotron {
  padding: 10px 0;
  margin-bottom: 0;
}
}
